<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
       
       <label><input type="radio" value="male" v-model="gender"/>男</label>
        <label><input type="radio" value="female" v-model="gender"/>女</label>
        <p>{{gender}}</p>
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                message:'',
                gender:'',
                checked:'',
                multiChecked:[],
                selected:'',
                multiSelected:[]
            }
        })
    </script>
</body>
</html>